<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University Name</title>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script src="/javascripts/schools.js"></script>
<script src="/async/lib/async.js"></script>

<body>

<section >
    <div class="bar">
        <input type="text" name="school" placeholder="Enter The University Name OR Zip OR City:"/>
        <button id="search">search</button>
    </div>


</section>
<div id="map-canvas"></div>

<section class="panel">
    <h1>View Search History</h1>
    <div id="singleschool"></div>
</section>


</body>
</html>